*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-container{
    height: 100vh;
    background-color: rgb(207, 234, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid{
    width: 500px;
    background-color: rgb(245, 250, 179);
    
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 10px;
    padding: 40px;


}

.card{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    color: transparent;
    transition: 0.6s;
    font-size: 3rem;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding-top: 2rem;
}

button{
    padding: 10px 15px;

}
.card.flipped{
      color: black;
      transform: rotateY(180deg);
      background-color: antiquewhite;
}

.card.matched{
    background-color: rgb(147, 236, 147);
}
